
Thumbs.db
assets/minecraft/optifine/ctm/.DS_Store
assets/minecraft/optifine/.DS_Store
assets/minecraft/models/item/.DS_Store
assets/minecraft/models/.DS_Store
assets/minecraft/.DS_Store
assets/.DS_Store
.DS_Store
